[Desktop Entry]
Type=Application
Name=GalliumOS Update
Exec=/usr/bin/galliumos-update --popup
Icon=/usr/share/icons/gnome/256x256/status/software-update-available.png
Categories=System
