Source: galliumos-update
Section: admin
Priority: required
Maintainer: reynhout <reynhout@galliumos.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6

Package: galliumos-update
Architecture: all
Priority: required
Depends: galliumos-base
Description: GalliumOS System Update
 GalliumOS System Update scripts
